<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="Stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link type="text/css" rel="Stylesheet" href="~/Content/StyleCss/StyleLayout.css">
        <link type="text/css" rel="Stylesheet" href="~/Content/PositionCss/PositionLayout.css">
        @RenderSection("styles", required:false)         
        <title>PsicoLOG - @ViewBag.Title</title>
        
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-default" id="NavbarGeneral">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="@Url.Action("Main","Main")">PsicoLOG</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-folder-open"></span>&nbsp; Historia Clinica<span class="caret"></span></a>
                <ul class="dropdown-menu FondoTransparente">
                    <li><a href="/HistoriaClinica/Historia"><span class="glyphicon glyphicon-folder-open">&nbsp;</span>Historia Clínica</a></li>                           
                    <li><a href="/HistoriaClinica/CrearHistoria"><span class="glyphicon glyphicon-plus">&nbsp;</span>Nueva Historia Clínica</a></li>
                </ul>                              
              </li>
              <li> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-list-alt"></span>&nbsp; Evolución<span class="caret"></span></a>
                <ul class="dropdown-menu FondoTransparente">
                    <li><a href="/Evolucion/Evolucion"><span class="glyphicon glyphicon-list-alt">&nbsp;</span>Evolución</a></li>                           
                    <li><a href="#"><span class="glyphicon glyphicon-plus">&nbsp;</span>Nueva evolución</a></li>
                </ul>
              </li>
              <li>
                    <input type="text" name="TextBuscar" class="form-control col-md-4" placeholder="Búsqueda Rápida de HC" id="BusquedaNav">                
              </li>
          </ul> 
          <ul class="nav navbar-nav navbar-right">
            <div>
              <img src="../../Content/Images/Other/FotoPerfil.png" id="FotoNav"/> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">35123123<span class="caret"></span></a>
              <ul class="dropdown-menu" id="DropdownRight">
                  <li><a href="#">Editar</a></li>                           
                  <li><a href="#">Salir</a></li>
              </ul>                             
            </div>
          </ul>
        </div> 
      </div>
    </nav>
    <!--NAVBAR-->
    
    <!-- START VIEW -->
    @RenderBody()
    <br/>
    <!-- END VIEW -->

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Scripts/Layout.js"></script>
    @RenderSection("scripts", required:false) 
</body>
<footer>
    <p>PsicoLog @DateTime.Now.Year &nbsp; - &nbsp;</p>@if (@ViewBag.Title == "Contacto") {<p>Contacto</p>} else{<p><a href="@Url.Action("ContactoLogueado","Home")">Contacto</a></p>}
</footer>
</html>

